.deck1
{
	width:50%;
	margin: 20px auto;
	background:dodgerblue;
	border:solid 10px black;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;

	display: inline-block;
}

.header
{
	margin:auto;
	background: violet;
	text-align:center;
}
.hand1
{
	width:25%;
	margin: 20px auto;
	background:dodgerblue;
	border:solid 10px black;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;

	display: inline-block;
}

.deck2
{
	width:50%;
	margin: 20px auto;
	background:dodgerblue;
	border:solid 10px black;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;

	display: inline-block;
}

.hand2
{
	width:25%;
	margin: 20px auto;
	background:dodgerblue;
	border:solid 10px black;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;

	display: inline-block;
}


.card
{
	padding: 10px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	font-size: 14pt;
	text-align: center;
	color:black;
	margin: 3px;
	width: fit-content;
}


.btn
{
	background:white;
	padding: 10px 20px;
	border-radius:30px;
	margin: 10px;
	display:inline-block;
}
