/**
.wrapper
{
	display:grid;
	grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
      "hd hd hd hd hd hd hd login login"
	  "hd hd hd hd hd hd hd login login"
      "board board board board board board score score"
	  "board board board board board board score score"
	  "board board board board board board hand1 hand1"
	  "board board board board board board hand1 hand1";
}
**/
.board
{
	grid-area:board;
	width:70%;
	height:500px;
	margin: 20px auto;
	background:dodgerblue;
	border:solid 10px black;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;
	float:left;
	
	
}
.hd 
{
	grid-area:hd;
	margin:auto;
	background: violet;
	text-align:center;
	float:left;
	width:80%;
}

.login
{
	grid-area:hd;
	margin:auto;
	background: violet;
	text-align:center;
	float:right;
	width:20%;
}
.header
{
	margin:auto;
	background: violet;
	text-align:center;
}

.score
{
	grid-area:score;
	width:26%;
	margin: 20px auto;
	background:dodgerblue;
	border:solid 10px black;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;

	float:right;
	
}
.graveyard
{
	width:26%;
	height:295px;
	margin: 20px auto;
	background:dodgerblue;
	border:solid 10px black;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;
	float:right;
	
}
.hand
{
	position:fixed;
	bottom:0;
	height: 300px;
	width:97.3%;
	margin: 20px auto;
	background:dodgerblue;
	border:solid 10px black;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;
	
}

.card
{
	padding: 10px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	font-size: 14pt;
	text-align: center;
	color:black;
	margin: 3px;
}


.btn
{
	background:white;
	padding: 10px 20px;
	border-radius:30px;
	margin: 10px;
	display:inline-block;
}
